@import url('https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css');

body {
    font-family: Courier New;
}

#container {
    max-width: 500px;
    margin: auto;
}

h1, p, #timer {
    text-align: center;
}

table {
    margin: auto;
}

#alert, #timer {
    display: none;
}
